@charset "utf-8";
/* CSS Document */
body{ 
	background:#ececec;
}
#menu{
	width: 50px; 
	height: 50px; 
	position: fixed;
	right: 20px; 
	top: 50%; 
}
#list{
	height: 42px; 
	width: 42px; 
	position: relative;
	margin: 4px;
}
#list img{ 
	border-radius: 21px; 
	position: absolute;
	left: 0; 
	top: 0; 
	transition: 0.5s all ease;
	cursor: pointer;
}
#home{
	width: 50px; height: 50px;
	background: url(home.png) no-repeat; 
	border-radius: 25px; 
	position: absolute; 
	left: 0; 
	top: 0; 
	transition: 1s;
	cursor: pointer;
}	